@model IEnumerable<Blog_App.Data.Blog>

@{
    ViewData["Title"] = "Admin Dasboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-success">Add Blog</a>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input id="search" class="form-control" placeholder="Search...." />
            </div>
        </div>
        <div class="col-md-2">
            <button onclick="search()" class="btn btn-primary">search</button>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr class="bg-primary text-white">
                    <th class="p-3" scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                    <th class="p-3" scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th class="p-3" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="p-3">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="p-3">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">View</a> |
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        function search() {
            $("tr").each(function (index, value) {
                if (index > 0 && !$(this).find("td")[0].innerText.includes($("#search").val())) {
                    $(this).attr("hidden", true);
                } else {
                    $(this).removeAttr("hidden");
                }
                console.log(value);
            })
        }
    </script>
}